<!DOCTYPE html>
<html lang="en">
<!-- for reference:
 https://openlayers.org/en/latest/examples/flight-animation.html
 https://gist.github.com/wavded/1200773?short_path=99c1af9-->
<head>
    <meta charset="UTF-8">
    <title>COMS4507</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <script src="https://api.mapbox.com/mapbox.js/plugins/arc.js/v0.1.0/arc.js"></script>
    <link rel="stylesheet" href="https://openlayers.org/en/v5.3.0/css/ol.css" type="text/css">
    <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">
    <style>
        .map {
            height: 500px;
            width: 100%;
        }
    </style>
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
    <style>
        #marker {
            width: 10px;
            height: 10px;
            border: 1px solid #088;
            border-radius: 5px;
            background-color: #0FF;
            opacity: 0.5;
        }
        #brisbane {
            text-decoration: none;
            color: white;
            font-size: 11pt;
            font-weight: bold;
            text-shadow: black 0.1em 0.1em 0.2em;
        }
        .ol-popup {
            position: absolute;
            background-color: white;
            -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
            filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
            padding: 15px;
            border-radius: 10px;
            border: 1px solid #cccccc;
            bottom: 12px;
            left: -50px;
            min-width: 280px;
        }
        .ol-popup:after, .ol-popup:before {
            top: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        .ol-popup:after {
            border-top-color: white;
            border-width: 10px;
            left: 48px;
            margin-left: -10px;
        }
        .ol-popup:before {
            border-top-color: #cccccc;
            border-width: 11px;
            left: 48px;
            margin-left: -11px;
        }
        .ol-popup-closer {
            text-decoration: none;
            position: absolute;
            top: 2px;
            right: 8px;
        }
        .ol-popup-closer:after {
            content: "X";
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<div id="page panel" class="panel panel-default">
    <div class="panel-body">
        <h2>Happy Mappy</h2>

        <input class="ip" value="8.8.8.8">
        <button class="send">Go</button>
        <!--<button class="mapper">map</button>-->
        <br><br>
        <span class="city"></span>,
        <span class="country"></span>,
        <span class="long"></span>,
        <span class="lat"></span>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Etherium Network Map</h3>
            </div>
            <div class="panel-body">
                <div id="map" class="map"></div><!-- show map -->
                <div id="popup" class="ol-popup">
                    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                    <div id="popup-content"></div>
                </div>
                <div style="display: none;">
                    <!-- Clickable label for brisbane -->
                    <a class="overlay" id="brisbane" target="_blank" href="http://en.wikipedia.org/wiki/brisbane">brisbane</a>
                    <div id="marker" title="Marker"></div>
                    <!-- Popup -->
                    <div id="popup_place" title="Welcome to OpenLayers"></div>
                </div>

                <script type="text/javascript">
                    var style = new ol.style.Style({
                        stroke: new ol.style.Stroke({
                            color: '#a2da37',
                            width: 2
                        })
                    });
                    function lineStyle(feature) {
                        return [
                            new ol.style.Style({
                                stroke: new ol.style.Stroke({
                                    color: '#a2da37',
                                    width: 1.25
                                }),
                                text: new ol.style.Text({
                                    font: '12px Calibri,sans-serif',
                                    fill: new ol.style.Fill({ color: '#55721d'}),
                                    stroke: new ol.style.Stroke({
                                        color: '#ffffff', width: 3
                                    }),
                                    // get the text from the feature - `this` is ol.Feature
                                    // and show only under certain resolution
                                    text: map.getView().getZoom() > 3 ? feature.get("distance") : ''
                                })
                            })
                        ];
                    }
                    function pointStyle(feature) {
                        return [
                            new ol.style.Style({
                                fill: new ol.style.Fill({
                                    color: 'rgba(244,244,255,0.4)'
                                }),
                                stroke: new ol.style.Stroke({
                                    color: '#3399CC',
                                    width: 1.25
                                }),
                                text: new ol.style.Text({
                                    font: '12px Calibri,sans-serif',
                                    fill: new ol.style.Fill({ color: '#3399CC' }),
                                    stroke: new ol.style.Stroke({
                                        color: '#ffffff', width: 3
                                    }),
                                    // get the text from the feature - `this` is ol.Feature
                                    // and show only under certain resolution
                                    text: map.getView().getZoom() > 3 ? (map.getView().getZoom() > 5 ?
                                            feature.get("ips") : feature.get("density")) : ''
                                })
                            })
                        ];
                    }
                    var style_blue = new ol.style.Style({
                        stroke: new ol.style.Stroke({
                            color: '#3f73ce',
                            width: 2
                        })
                    });
                    /**
                     * Elements that make up the popup.
                     */
                    var container = document.getElementById('popup');
                    var content = document.getElementById('popup-content');
                    var closer = document.getElementById('popup-closer');
                    /**
                     * Create an overlay to anchor the popup to the map.
                     */
                    var overlay = new ol.Overlay({
                        element: container,
                        autoPan: true,
                        wrapX: false,
                        autoPanAnimation: {
                            duration: 250
                        }
                    });
                    /**
                     * Add a click handler to hide the popup.
                     * @return {boolean} Don't follow the href.
                     */
                    closer.onclick = function() {
                        overlay.setPosition(undefined);
                        closer.blur();
                        return false;
                    };
                    function transform(extent) {
                        return ol.proj.transformExtent(extent, 'EPSG:4326', 'EPSG:3857');
                    }
                    var maxExtent = transform([-179.999, -89.999, 179.999, 89.999]);
                    var layer = new ol.layer.Tile({
                        extent: maxExtent,
                        wrapDateLine: false,
                        wrapX: false,
                        source: new ol.source.OSM()
                    });
                    var restrictiveOverlay = new ol.layer.Tile({
                        source: new ol.source.TileJSON({
                            url: 'https://api.tiles.mapbox.com/v3/mapbox.world-black.json?secure',
                            crossOrigin: 'anonymous'
                        })
                    });
                    /**
                     * Create the map.
                     */
                    var map = new ol.Map({
                        target: 'map',
                        overlays: [overlay, ],
                        layers: [
                            restrictiveOverlay,
                            layer
                        ],
                        view: new ol.View({
                            center: ol.proj.fromLonLat([153.01667, -10.47665]),
                            zoom: 2.4
                        })
                    });
                    /**
                     * Add a click handler to the map to render the popup.
                     */
                    map.on('singleclick', function(evt) {
                        var coordinate = evt.coordinate;
                        var hdms = ol.proj.toLonLat(coordinate);
                        var nearest = get_nearest_node(hdms);

                        var ip = nearest['ethereumnodesByLoc']['nodes'][0]['ip'];
                        var id = nearest['ethereumnodesByLoc']['nodes'][0]['id'];
                        var long = nearest['long'];
                        var lat = nearest['lat'];
                        var loc = nearest['name'];
                        document.getElementById('brisbane').innerText=loc;
                        var pos = ol.proj.fromLonLat([long, lat]);
                        // brisbane marker
                        var marker = new ol.Overlay({
                            position: pos,
                            positioning: 'center-center',
                            element: document.getElementById('marker'),
                            stopEvent: false
                        });
                        map.addOverlay(marker);
                        // brisbane label
                        var brisbane = new ol.Overlay({
                            position: pos,
                            element: document.getElementById('brisbane')
                        });
                        map.addOverlay(brisbane);
                        content.innerHTML = '<p>You clicked here:</p><code>' + hdms +
                                '</code><p>The nearest node is:</p><code>' + loc + '</code><p></p><code>' +
                                "\nan ip: " + ip + '</code><p></p><code>' +
                                "a public key: " + id + '</code><p></p><code>' + "longLat: " +
                                long + "," + lat + '</code>';
                        overlay.setPosition(coordinate);
                    });

                    var pos = ol.proj.fromLonLat([153.3725, -27.4]);

                    var marker = new ol.Overlay({
                        position: pos,
                        positioning: 'center-center',
                        element: document.getElementById('marker'),
                        stopEvent: false
                    });
                    map.addOverlay(marker);
                    // brisbane label
                    var brisbane = new ol.Overlay({
                        position: pos,
                        element: document.getElementById('brisbane')
                    });
                    map.addOverlay(brisbane);
                    let data ={{data}};
                    //alert(data["allEthereumconnections"]['nodes'][0]['ethereumnodeByNeighbour']['ethereumlocationByLoc']['lat']);

                    var lineSource = new ol.source.Vector( {
                        wrapX: false,
                        attributions: 'Flight data by james',
                        loader: function() {

                            const transactionData = data["allEthereumconnections"]['nodes'];//[[[127,23],[0,0]],[[17,3],[-122.0838, 37.386]],[[17,23],[9,9]]];//TODO get connection data
                            for (var i = 0; i < transactionData.length; i++) {
                                var node = transactionData[i];
                                var from = node['ethereumnodeByNeighbour']['ethereumlocationByLoc'];
                                var to = node['ethereumnodeByNode']['ethereumlocationByLoc'];
                                // create an arc circle between the two locations
                                var arcGenerator = new arc.GreatCircle(
                                        {x: from['long'], y: from['lat']},
                                        {x: to['long'], y: to['lat']});
                                var arcLine = arcGenerator.Arc(100, {offset: 10});
                                var line = new ol.geom.LineString(arcLine.geometries[0].coords);
                                line.transform('EPSG:4326', 'EPSG:3857');
                                var feature = new ol.Feature({
                                    geometry: line
                                });
                                feature.set('distance', ""); //node["distance"]);
                                feature.setStyle(lineStyle);
                                lineSource.addFeature(feature);
                            }
                            alert("A");
                            const nodeData = data["allEthereumlocations"]['nodes'];//[[127,23],[0,0],[17,3],[-122.0838, 37.386],[17,23],[9,9]];//TODO get node data
                            // created a LongLat -> number of nodes dictionary
                            for (var i = 0; i < nodeData.length; i++) {
                                // using previous IP -> Location mapping
                                var node = nodeData[i];
                                var loc = [node['long'], node['lat']];
                                var point = new ol.geom.Circle(loc, 1);
                                point.transform('EPSG:4326', 'EPSG:3857');
                                var pointFeature = new ol.Feature({
                                    geometry: point
                                });
                                pointFeature.set('density', node["name"] + ":" + node["density"]);
                                pointFeature.set('ips', node["name"] + ":" + node["density"] +"\nAn IP:" + node['ethereumnodesByLoc']['nodes'][0]['ip']);//node['nodes']["ip"]);
                                pointFeature.setStyle(pointStyle);
                                // add the feature
                                lineSource.addFeature(pointFeature);
                            }
                        },
                    });

                    var linesLayer = new ol.layer.Vector({
                        source: lineSource,
                        style: function(feature) {
                            if (feature.getGeometry() instanceof ol.geom.Circle) {
                                return style_blue;
                            } else {
                                return style;
                            }
                        }
                    });
                    function add_arcs() {
                        var features = lineSource.getFeatures();
                        for (var i = 0; i < features.length; i++) {
                            var feature = features[i];
                            if (feature.getGeometry() instanceof ol.geom.Circle){
                                var coordsP = feature.getGeometry().getCoordinates();
                                var currentPoint = new ol.geom.Circle(coordsP);
                                linesLayer.drawGeometry(currentPoint);
                            } else {
                                var coords = feature.getGeometry().getCoordinates();
                                var currentLine = new ol.geom.LineString(coords);
                                linesLayer.drawGeometry(currentLine);
                            }
                        }
                    }
                    add_arcs();
                    map.addLayer(linesLayer);


                    /*
                    	because this is only for comparisons this omitts the square root
                    */
                    function euclidian_distance_comparison(node1, node2){
                        return Math.pow( (node1[0]-node2[0]), 2) + Math.pow( (node1[1]-node2[1]), 2);
                    }

                    /*
						for finding the nearest node to a click
                    */
                    function get_nearest_node(selected_point) {
                        var list_of_nodes = data['allEthereumlocations']['nodes'];
                        let node = list_of_nodes[0];
                        var nearest = list_of_nodes[0];
                        var current_min = euclidian_distance_comparison(selected_point, [node['long'], node['lat']]);
                        var new_distance;

                        for (var i = 1; i < list_of_nodes.length; i++) {
                            node = list_of_nodes[1];
                            //alert(selected_point +":"+ [node['long'], node['lat']]);
                            new_distance = euclidian_distance_comparison(selected_point, [node['long'], node['lat']]);

                            if (current_min > new_distance) {
                                nearest = list_of_nodes[i];
                                current_min = new_distance;
                            }

                        }

                        return nearest;//this is a node instance
                    }
                </script>
            </div>
        </div>
    </div>
</div>
<script> // handles the buttons atm
$('.send').on('click', function(){
    $.getJSON('https://ipapi.co/'+$('.ip').val()+'/json', function(data){
        $('.city').text(data.city);
        $('.country').text(data.country);
        $('.long').text(data.longitude);
        $('.lat').text(data.latitude);
        var lat = data.latitude;
        var long = data.longitude;
        document.getElementById('brisbane').innerText=data.city;
        var pos = ol.proj.fromLonLat([long, lat]);
        // brisbane marker
        var marker = new ol.Overlay({
            position: pos,
            positioning: 'center-center',
            element: document.getElementById('marker'),
            stopEvent: false
        });
        map.addOverlay(marker);
        // brisbane label
        var brisbane = new ol.Overlay({
            position: pos,
            element: document.getElementById('brisbane')
        });
        map.addOverlay(brisbane);
    });
});

</script>
</body>
</html>