<head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
</head>

<body>

  memesaaa

  <!--<script>
    let data = {{data}};
    var graph = {"nodes": [], "links": []};

    conns = data["allEthereumconnections"]["nodes"];

    for(int i = 0; i < conns.length; i++) {


    }

    const Graph = ForceGraph3D()
      (document.getElementById('3d-graph'))
        .graphData(graph)
        .nodeLabel('ip')
        .nodeAutoColorBy('group');
  </script>-->
</body>